@import './var.sass';
.section {
    margin-top: 6%;
    margin-bottom: 6%;
}

.section-header {
    text-align: center;
}

.section-title {
    font-family: $ft-family-title;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: $section-title-ft-color;
}

.section-subtitle {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 30rem;
    margin: 1rem auto;
}

.block-skills {
    margin-bottom: 2rem;
}

.icon {
    color: $icon-color;
}

.block-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: $section-title-ft-color;
    font-family: $ft-family-title;
}

.skills {
    color: #999999;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.category {
    margin-top: 2rem;
}

a {
    // text-decoration: none;
}

.category-item {
    margin-top: 1rem;
}

.category-link {
    text-decoration: none !important;
    text-transform: uppercase;
    color: $link-color;
    padding: 4px 10px;
    margin-left: 2rem;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    font-weight: 600;
}

.category-link:hover {
    background: $btn-color;
    color: #fff;
    margin-left: 1rem;
}

.lead,
.creativity,
.section-subtitle {
    font-family: $ft-family-title;
    color: $section-title-ft-color;
}

.display-3 {
    font-weight: 900;
    border: 4px solid $section-title-ft-color;
}

.creat-title {
    font-weight: 500;
}

.category-img {
    margin-bottom: 2rem;
}