.photobox {
    display: inline-block;
    margin-bottom: 2rem;
}

.photobox__previewbox {
    position: relative;
    overflow: hidden;
}

.photobox__preview {
    display: block;
    max-width: 100%;
}

.photobox__previewbox:before {
    content: "";
}

.photobox_type6 .photobox__previewbox:before {
    width: 0;
    height: 0;
    padding: 25%;
    background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease;
    will-change: transform;
    transform: translate(-50%, -50%) scale(0);
}

.photobox_type6:hover .photobox__previewbox:before {
    transform: translate(-50%, -50%) scale(4);
    transition-duration: var(--photoboxAnimationDuration, .8s);
}

.photobox_type6 .photobox__label {
    width: 95%;
    text-align: center;
    transform: translate(-200%, -50%);
    transition: transform calc(var(--photoboxAnimationDuration, .8s) / 2) ease-out;
    will-change: transform;
    position: absolute;
    top: 50%;
    left: 50%;
}

.photobox_type6:hover .photobox__label {
    transition-duration: calc(var(--photoboxAnimationDuration, .8s) / 4);
    transform: translate(-50%, -50%);
}

.category-hover-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
    font-family: $ft-family-title;
}

.category-link-hover {
    text-decoration: none !important;
    color: $btn-color;
    padding: 4px 10px;
    margin-left: 2rem;
    background: $btn-color;
    font-weight: 400;
    color: #fff;
    margin-left: 1rem;
}

.category-link-hover:hover {
    color: #fff;
}